@model KomsijaProjekat.Models.Product

@{
    ViewBag.Title = "Edit Product";
}

<h2>Edit Product</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label for="Name">Name</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        <label for="Price">Price</label>
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Price)
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
}
