@model IEnumerable<KomsijaProjekat.Models.Product>

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New Product", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = product.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = product.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Paginacija -->
<div>
    @if (ViewBag.CurrentPage > 1)
    {
        <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })">Previous</a>
    }

    <span>Page @ViewBag.CurrentPage of @ViewBag.TotalPages</span>

    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Next</a>
    }
</div>
