@model KomsijaProjekat.Models.Brand

@{
    ViewBag.Title = "Edit Brand";
}

<h2>Edit Brand</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken() 

    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <label for="Name">Name</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
}
